{
    "swagger": "2.0",
    "info": {
        "description": "A Lucidworks Fusion microservice for indexing.",
        "version": "5.5.2",
        "title": "Fusion Indexing Service API",
        "termsOfService": "https://lucidworks.com/legal/developer-license-agreement/",
        "contact": {
            "name": "Lucidworks",
            "url": "www.lucidworks.com",
            "email": "support@lucidworks.com"
        },
        "license": {
            "name": "License of API",
            "url": "https://lucidworks.com/legal/developer-license-agreement/"
        }
    },
    "host": "docs5512apis.lucidworkstest.com",
    "basePath": "/indexing",
    "tags": [{
        "name": "The Subscriptions Pulsar API",
        "description": "Subscription Pulsar Controller"
    }, {
        "name": "index-pipeline-controller",
        "description": "Used for indexing documents and managing pipeline definitions"
    }, {
        "name": "ind`ex-pipeline-template-controller",
        "description": "Used internally to generate index pipelines from a template."
    }, {
        "name": "index-profile-controller",
        "description": "The Index Profiles API allows users to manage index profiles. Index profiles allow users to change index pipelines during indexing time while pointing the indexing toward a static endpoint. This gives flexibility to test different stage combinations without reconfiguration."
    }, {
        "name": "index-profile-crud-controller",
        "description": "Endpoints to perform Create-Read-Update-Delete operations on Index Profiles."
    }, {
        "name": "index-stage-controller",
        "description": "The Index Stages API provides endpoints to: 1) manage index stage instances, 2) list index stage configuration properties"
    }, {
        "name": "parser-controller",
        "description": "Endpoints to perform Create-Read-Update-Delete operations on Parsers."
    }, {
        "name": "parser-template-controller",
        "description": "Used internally to generate parser configs from a template."
    }, {
        "name": "plugin-controller",
        "description": "Provides endpoints to manage index stage plugins."
    }, {
        "name": "subscription-controller",
        "description": "The Subscriptions API"
    }, {
        "name": "system-controller",
        "description": "System Controller"
    }],
    "paths": {
        "/api/v1/index-pipelines/_schema": {
            "get": {
                "tags": ["index-pipeline-controller"],
                "summary": "Get JSON schema for objects managed by this API",
                "operationId": "getEntitySchemaUsingGET",
                "produces": ["application/json;qs=0.9", "application/schema+json;qs=1.0"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/status": {
            "get": {
                "tags": ["index-pipeline-controller"],
                "summary": "getStatus",
                "operationId": "getStatusUsingGET",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}": {
            "get": {
                "tags": ["index-pipeline-controller"],
                "summary": "Get the entity as JSON by unique ID",
                "operationId": "getEntityUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "The entity ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/collections/{collection}/debug{?bufferDocsForSolr,echo,echoMaxCount,params,simulate,throwOnError}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Index document and return response with additional debugging info.",
                "description": "The document format must match application/vnd.lucidworks-document or application/vnd.solr-document. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "debugPipelineDocumentUsingPOST",
                "consumes": ["application/vnd.solr-document", "application/vnd.lucidworks-document"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "collection",
                    "in": "path",
                    "description": "The target collection Id where indexed documents will be stored.",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "documents",
                    "description": "List of PipelineDocument objects to be processed and ingested. ",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Iterable«PipelineDocument»",
                        "originalRef": "Iterable«PipelineDocument»"
                    }
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index pipeline to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "throwOnError",
                    "in": "query",
                    "description": "Indicates if the indexing should proceed if an error is encountered or if it should throw an exception",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDebugResponse",
                            "originalRef": "IndexPipelineDebugResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDebugResponse",
                            "originalRef": "IndexPipelineDebugResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/collections/{collection}/index{?autoDetectFormat,bufferDocsForSolr,contentSourceName,echo,echoMaxCount,params,parserId,simulate,skipParsing,stageId,stats,throwOnError}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Index document and return indexing stats.",
                "description": "The request body should be the document passed as binary data. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexUsingPOST",
                "consumes": ["*/*"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "autoDetectFormat",
                    "in": "query",
                    "description": "Deprecated",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "collection",
                    "in": "path",
                    "description": "The target collection Id where indexed documents will be stored.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "MIME type",
                    "required": true,
                    "type": "string",
                    "default": "application/octet-stream"
                }, {
                    "name": "contentSourceName",
                    "in": "query",
                    "description": "Content resource name (file name) on the source system",
                    "required": false,
                    "type": "string",
                    "default": "unknown"
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index pipeline to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "parserId",
                    "in": "query",
                    "description": "Id of the parser to be used",
                    "required": false,
                    "type": "string",
                    "default": "_system"
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "skipParsing",
                    "in": "query",
                    "description": "Skip the parsing and treat document as byte stream",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "stageId",
                    "in": "query",
                    "description": "Deprecated",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "stats",
                    "in": "query",
                    "description": "Collect pipeline processing stats and return them in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "throwOnError",
                    "in": "query",
                    "description": "Indicates if the indexing should proceed if an error is encountered or if it should throw an exception",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/collections/{collection}/index{?autoDetectFormat,bufferDocsForSolr,contentSourceName,echo,echoMaxCount,params,parserId,simulate,skipParsing,stageId,throwOnError}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Index document without returning indexing stats.",
                "description": "The request body should be the document passed as binary data. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexNoStatsUsingPOST",
                "consumes": ["*/*"],
                "produces": ["application/vnd.lucidworks-document", "application/vnd.solr-document"],
                "parameters": [{
                    "name": "autoDetectFormat",
                    "in": "query",
                    "description": "Deprecated",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "collection",
                    "in": "path",
                    "description": "The target collection Id where indexed documents will be stored.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "MIME type",
                    "required": true,
                    "type": "string",
                    "default": "application/octet-stream"
                }, {
                    "name": "contentSourceName",
                    "in": "query",
                    "description": "Content resource name (file name) on the source system",
                    "required": false,
                    "type": "string",
                    "default": "unknown"
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index pipeline to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "parserId",
                    "in": "query",
                    "description": "Id of the parser to be used",
                    "required": false,
                    "type": "string",
                    "default": "_system"
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "skipParsing",
                    "in": "query",
                    "description": "Skip the parsing and treat document as byte stream",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "stageId",
                    "in": "query",
                    "description": "Deprecated",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "throwOnError",
                    "in": "query",
                    "description": "Indicates if the indexing should proceed if an error is encountered or if it should throw an exception",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Iterable«PipelineDocument»",
                            "originalRef": "Iterable«PipelineDocument»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Iterable«PipelineDocument»",
                            "originalRef": "Iterable«PipelineDocument»"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/collections/{collection}/index{?bufferDocsForSolr,echo,echoMaxCount,params,simulate,stats,throwOnError}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Index documents and return indexing stats.",
                "description": "The document format must match application/vnd.lucidworks-document or application/vnd.solr-document. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexPipelineDocumentUsingPOST",
                "consumes": ["application/vnd.solr-document", "application/vnd.lucidworks-document"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "collection",
                    "in": "path",
                    "description": "The target collection Id where indexed documents will be stored.",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "documents",
                    "description": "List of PipelineDocument objects to be processed and ingested. ",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Iterable«PipelineDocument»",
                        "originalRef": "Iterable«PipelineDocument»"
                    }
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index pipeline to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "stats",
                    "in": "query",
                    "description": "Collect pipeline processing stats and return them in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "throwOnError",
                    "in": "query",
                    "description": "Indicates if the indexing should proceed if an error is encountered or if it should throw an exception",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/collections/{collection}/index{?bufferDocsForSolr,echo,echoMaxCount,params,simulate,throwOnError}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Index document without returning indexing stats.",
                "description": "The document format must match application/vnd.lucidworks-document or application/vnd.solr-document. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexPipelineDocumentNoStatsUsingPOST",
                "consumes": ["application/vnd.solr-document", "application/vnd.lucidworks-document"],
                "produces": ["application/vnd.lucidworks-document", "application/vnd.solr-document"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "collection",
                    "in": "path",
                    "description": "The target collection Id where indexed documents will be stored.",
                    "required": true,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "documents",
                    "description": "List of PipelineDocument objects to be processed and ingested. ",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Iterable«PipelineDocument»",
                        "originalRef": "Iterable«PipelineDocument»"
                    }
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index pipeline to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "throwOnError",
                    "in": "query",
                    "description": "Indicates if the indexing should proceed if an error is encountered or if it should throw an exception",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PipelineDocumentRes",
                                "originalRef": "PipelineDocumentRes"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PipelineDocumentRes",
                                "originalRef": "PipelineDocumentRes"
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}/refresh{?distrib}": {
            "put": {
                "tags": ["index-pipeline-controller"],
                "summary": "Reload the specified pipeline",
                "description": "When changes are made to a pipeline, the pipeline needs to be refreshed (reloaded). A Fusion restart refreshes all pipelines",
                "operationId": "refreshPipelineUsingPUT",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "distrib",
                    "in": "query",
                    "description": "distrib",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "The ID of a specific pipeline",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity",
                            "originalRef": "ResponseEntity"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ResponseEntity",
                            "originalRef": "ResponseEntity"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines/{id}{?context}": {
            "put": {
                "tags": ["index-pipeline-controller"],
                "summary": "Update pipeline definition",
                "operationId": "updateEntityUsingPUT",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "entity",
                    "description": "Updated pipeline definition in JSON format",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/IndexPipelineDefinitionReq",
                        "originalRef": "IndexPipelineDefinitionReq"
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "The pipeline id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["index-pipeline-controller"],
                "summary": "Delete an entity by unique ID",
                "operationId": "deleteEntityUsingDELETE",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "The entity ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/index-pipelines{?context}": {
            "post": {
                "tags": ["index-pipeline-controller"],
                "summary": "Create new index pipeline definition",
                "operationId": "createEntityUsingPOST",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "entity",
                    "description": "A new index pipeline definition in JSON format",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/IndexPipelineDefinitionReq",
                        "originalRef": "IndexPipelineDefinitionReq"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDefinitionRes",
                            "originalRef": "IndexPipelineDefinitionRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-pipelines{?params}": {
            "get": {
                "tags": ["index-pipeline-controller"],
                "summary": "Get all entities with optional params to filter the results.",
                "operationId": "getAllEntitiesUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "params",
                    "in": "query",
                    "description": "params",
                    "required": false,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/IndexPipelineDefinitionRes",
                                "originalRef": "IndexPipelineDefinitionRes"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/IndexPipelineDefinitionRes",
                                "originalRef": "IndexPipelineDefinitionRes"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-profiles/_schema": {
            "get": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Get JSON schema for objects managed by this API",
                "operationId": "getEntitySchemaUsingGET_1",
                "produces": ["application/json;qs=0.9", "application/schema+json;qs=1.0"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-profiles/status": {
            "get": {
                "tags": ["index-profile-crud-controller"],
                "summary": "getStatus",
                "operationId": "getStatusUsingGET_3",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-profiles/{id}": {
            "get": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Get the entity as JSON by unique ID",
                "operationId": "getEntityUsingGET_1",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "id",
                    "in": "path",
                    "description": "The entity ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-profiles/{id}{?context}": {
            "put": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Update an entity from JSON",
                "operationId": "updateEntityUsingPUT_1",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "entity",
                    "description": "An updated entity serialized to JSON",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/IndexProfileReq",
                        "originalRef": "IndexProfileReq"
                    }
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "The entity ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "delete": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Delete an entity by unique ID",
                "operationId": "deleteEntityUsingDELETE_1",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "The entity ID",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/index-profiles{?context}": {
            "post": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Create a new entity from JSON",
                "operationId": "createEntityUsingPOST_1",
                "consumes": ["application/json"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "context",
                    "in": "query",
                    "description": "Validates which app the entity should be part of by specifying, for example, \n                                                \"app:SomeApp\". If the entity is not part of the app this request will fail. \n                                                Any other comma-separated contexts in the context parameter are allowed but ignored.",
                    "required": false,
                    "type": "string"
                }, {
                    "in": "body",
                    "name": "entity",
                    "description": "A new entity serialized to JSON",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/IndexProfileReq",
                        "originalRef": "IndexProfileReq"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/IndexProfileRes",
                            "originalRef": "IndexProfileRes"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-profiles{?params}": {
            "get": {
                "tags": ["index-profile-crud-controller"],
                "summary": "Get all entities with optional params to filter the results.",
                "operationId": "getAllEntitiesUsingGET_1",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "params",
                    "in": "query",
                    "description": "params",
                    "required": false,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/IndexProfileRes",
                                "originalRef": "IndexProfileRes"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/IndexProfileRes",
                                "originalRef": "IndexProfileRes"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-stage-plugins": {
            "get": {
                "tags": ["plugin-controller"],
                "summary": "getPlugins",
                "operationId": "getPluginsUsingGET",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "put": {
                "tags": ["plugin-controller"],
                "summary": "Install the plugin or update if exists.",
                "operationId": "installOrUpdatePluginUsingPUT",
                "consumes": ["application/octet-stream", "application/x-zip-compressed", "application/zip"],
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-stage-plugins/{pluginId}/refresh{?distrib}": {
            "put": {
                "tags": ["plugin-controller"],
                "summary": "Reload the plugin.",
                "operationId": "reloadPluginUsingPUT",
                "consumes": ["application/json"],
                "produces": ["*/*"],
                "parameters": [{
                    "name": "distrib",
                    "in": "query",
                    "description": "Broadcast refresh request",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "pluginId",
                    "in": "path",
                    "description": "Plugin id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK"
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-stage-plugins/{pluginId}{?distrib}": {
            "delete": {
                "tags": ["plugin-controller"],
                "summary": "Uninstall the plugin.",
                "operationId": "uninstallPluginUsingDELETE",
                "produces": ["*/*"],
                "parameters": [{
                    "name": "distrib",
                    "in": "query",
                    "description": "Broadcast delete request",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "pluginId",
                    "in": "path",
                    "description": "Plugin id",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                }
            }
        },
        "/api/v1/index-stages/schema": {
            "get": {
                "tags": ["index-stage-controller"],
                "summary": "Get all stage schemas and types",
                "operationId": "listStageSchemasUsingGET",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/ObjectType",
                                "originalRef": "ObjectType"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "$ref": "#/definitions/ObjectType",
                                "originalRef": "ObjectType"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-stages/schema/{type}": {
            "get": {
                "tags": ["index-stage-controller"],
                "summary": "Get stage schema of type",
                "operationId": "getStageSchemaUsingGET",
                "produces": ["application/json"],
                "parameters": [{
                    "name": "type",
                    "in": "path",
                    "description": "Stage type (for example solr-index)",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index-stages/status": {
            "get": {
                "tags": ["index-stage-controller"],
                "summary": "getStatus",
                "operationId": "getStatusUsingGET_4",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index/status": {
            "get": {
                "tags": ["index-profile-controller"],
                "summary": "getStatus",
                "operationId": "getStatusUsingGET_2",
                "produces": ["application/json"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index/{id}/debug{?bufferDocsForSolr,echo,echoMaxCount,params,simulate}": {
            "post": {
                "tags": ["index-profile-controller"],
                "summary": "Index document and return response with additional debugging info.",
                "description": "The document format must match application/vnd.lucidworks-document or application/vnd.solr-document. ",
                "operationId": "debugUsingPOST",
                "consumes": ["application/vnd.lucidworks-document"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "in": "body",
                    "name": "documents",
                    "description": "List of PipelineDocument objects to be processed and ingested. ",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Iterable«PipelineDocument»",
                        "originalRef": "Iterable«PipelineDocument»"
                    }
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index profile to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDebugResponse",
                            "originalRef": "IndexPipelineDebugResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineDebugResponse",
                            "originalRef": "IndexPipelineDebugResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index/{id}{?bufferDocsForSolr,contentSourceName,echo,echoMaxCount,params,simulate,stats}": {
            "post": {
                "tags": ["index-profile-controller"],
                "summary": "Index document and return indexing stats.",
                "description": "The request body should be the document passed as binary data. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexUsingPOST_1",
                "consumes": ["*/*"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "name": "Content-Type",
                    "in": "header",
                    "description": "MIME type",
                    "required": true,
                    "type": "string",
                    "default": "application/octet-stream"
                }, {
                    "name": "contentSourceName",
                    "in": "query",
                    "description": "Content resource name (file name) on the source system",
                    "required": false,
                    "type": "string",
                    "default": "unknown"
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index profile to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "stats",
                    "in": "query",
                    "description": "Collect pipeline processing stats and return them in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/index/{id}{?bufferDocsForSolr,echo,echoMaxCount,params,simulate,stats}": {
            "post": {
                "tags": ["index-profile-controller"],
                "summary": "Index documents and return indexing stats.",
                "description": "The document format must match application/vnd.lucidworks-document or application/vnd.solr-document. Indexing means that a document will be processed by all of the configured index stages.",
                "operationId": "indexPipelineDocumentUsingPOST_1",
                "consumes": ["application/vnd.solr-document", "application/vnd.lucidworks-document"],
                "produces": ["application/json"],
                "parameters": [{
                    "name": "bufferDocsForSolr",
                    "in": "query",
                    "description": "Indicates if the SolrIndexStage should buffer docs or not.",
                    "required": false,
                    "type": "boolean"
                }, {
                    "in": "body",
                    "name": "documents",
                    "description": "List of PipelineDocument objects to be processed and ingested. ",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Iterable«PipelineDocument»",
                        "originalRef": "Iterable«PipelineDocument»"
                    }
                }, {
                    "name": "echo",
                    "in": "query",
                    "description": "If true, indexed documents will be returned in the response",
                    "required": false,
                    "type": "boolean",
                    "default": true
                }, {
                    "name": "echoMaxCount",
                    "in": "query",
                    "description": "Indicates how many documents should be included in response from the pipeline with -1 implying all.",
                    "required": false,
                    "type": "integer",
                    "default": -1,
                    "format": "int32"
                }, {
                    "name": "id",
                    "in": "path",
                    "description": "Id of the index profile to be used.",
                    "required": true,
                    "type": "string"
                }, {
                    "name": "params",
                    "in": "query",
                    "description": "Request query params",
                    "required": true,
                    "items": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }, {
                    "name": "simulate",
                    "in": "query",
                    "description": "Run the pipeline in \"simulate\" mode for these docs. Stages with \"side-effects\" will get skipped",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }, {
                    "name": "stats",
                    "in": "query",
                    "description": "Collect pipeline processing stats and return them in the response",
                    "required": false,
                    "type": "boolean",
                    "default": false
                }],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/IndexPipelineStatResponse",
                            "originalRef": "IndexPipelineStatResponse"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/parsers/_schema": {
            "get": {
                "tags": ["parser-controller"],
                "summary": "Get JSON schema for objects managed by this API",
                "operationId": "getEntitySchemaUsingGET_2",
                "produces": ["application/json;qs=0.9", "application/schema+json;qs=1.0"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ObjectType",
                            "originalRef": "ObjectType"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            }
        },
        "/api/v1/parsers/status": {
            "get": {
                "tags": ["parser-controller"],
                "summary": "getStatus",
                "operationId": "getStatusUsingGET_5",
                "produces": ["*/*"],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
                                "originalRef": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "responsesObject": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "uniqueItems": true,
                            "items": {
                                "$ref": "Error-ModelName{namespace='com.lucidworks.apollo.rest', name='ServiceStatus'}",
[...]
